body {
  background-color: #ebb2b8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 100px;
  align-items: center;
  overflow: hidden;
}

h1 {
  color: #cd2b25;
  text-align: center;
  font-family: "Starlight demo";
  font-size: 80px;
}
p {
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
#section {
  margin: auto;
  padding: 12px 24px;
  bottom: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: crimson;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  user-select: none;
  position: relative;
  transition: top 1s ease;
  box-shadow: 0 10px 20px rgba(103, 103, 103, 0.5);
}
#result img {
  position: absolute;
  bottom: 300px;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 10px 20px rgba(103, 103, 103, 0.5);
}
#trees-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  align-items: flex-end;
  overflow: visible;
  z-index: -1;
}

.tree {
  position: absolute;
  bottom: 0;
  width: 50px;
  transition: transform 2s ease, opacity 2s ease;
  opacity: 0;
}

@font-face {
  font-family: "Starlight demo";
  src: url("/Fonts/Starlight demo.ttf") format("opentype");
}
#fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
